@()(implicit req: play.api.mvc.RequestHeader)

@helper.javascriptRouter("jsRoutes")(
  controllers.routes.javascript.HomeController.events
)

@main("Welcome to Play") {
  <div id="calendar" style="height: 600px;" />
  <script>
    const Calendar = tui.Calendar;
    const container = document.getElementById('calendar');
    const options = {
      defaultView: 'month',
      useDetailPopup: true,
      isReadOnly: true,
      usageStatistics: false,
      gridSelection: false,
      timezone: {
        zones: [
          {
            timezoneName: 'Europe/London',
            displayLabel: 'London',
          },
        ],
      },
      calendars: [
        {
          id: 'calendar1',
          name: 'Conscious Events',
        }
      ],
    };

    const calendar = new Calendar(container, options);

    calendar.setOptions({
      template: {
        popupEdit() {
          return '';
        },
      },
    });

    calendar.setOptions({
      template: {
        popupDelete() {
          return '';
        },
      },
    });

    calendar.changeView('day');

    fetch(jsRoutes.controllers.HomeController.events().url, {
      method: 'get',
      headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
      }
    }).then(response => response.json())
      .then(events => events.map(adaptEvent))
      .then(events => calendar.createEvents(events))
      .catch(console.log)

    function adaptEvent(event) {
        return {
          id: event.link,
          calendarId: 'calendar1',
          title: event.name,
          start: event.start,
          end: event.end,
          body: '<a target="_blank" href="' + event.link + '">Event page</a>'
        }
    }
  </script>
}
